.manage-page-container {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.manage-title {
  font-size: 40px;
  color: rgb(116, 177, 201);
  margin-bottom: 30px;
}

.update-delete-owner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}

.exercise-manage-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.exercise-description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
