.exercise-comment-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.exercise-comment-area {
  border: 1px white solid;
  padding: 5px;
  border-radius: 20px;
}

.input-area-description {
  padding-left: 5px;
}

.exercise-comment-submit {
  padding: 10px;
  /* border-radius: 20px; */
  border: 2px white solid;
  background-color: rgb(48, 88, 105);
  font-size: 15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.exercise-page-create {
  font-family: "Lucida Console", "Courier New", monospace;
}
