.exercise-comment-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.exercise-comment-area {
  border: 1px white solid;
  padding: 5px;
  border-radius: 20px;
}

.input-area-description {
  padding-left: 5px;
}

.exercise-comment-submit {
  padding: 10px;
  border-radius: 20px;
  border: 1px white solid;
  background-color: rgb(116, 177, 201);
  font-size: 20px;
}

.exercise-page-create {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
