.delete-modal-container {
  padding: 20px;
  border: 1px white solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.confirm-delete {
  margin-left: 15%;
  color: rgb(116, 177, 201);
  text-shadow: 5px 2px 2px black;
}

.you-sure {
  color: rgb(116, 177, 201);
  text-shadow: 5px 2px 2px black;
}
.yes-no {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-shadow: 3px 2px 2px black;
}

.yes-delete {
  padding: 7px;
  border: 1px white solid;
  border-radius: 20px;
  background-color: rgb(116, 177, 201);
  text-shadow: 3px 2px 2px black;
}
