.delete-modal-container {
  padding: 20px;
  border: 1px white solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.confirm-delete {
  margin-left: 15%;
  color: rgb(48, 88, 105);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.you-sure {
  color: rgb(48, 88, 105);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.yes-no {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.yes-delete {
  padding: 7px;
  border: 1px white solid;
  border-radius: 20px;
  background-color: rgb(48, 88, 105);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
