.buttons {
  padding: 10px;
  /* border-radius: 20px; */
  border: 2px white solid;
  background-color: rgb(116, 177, 201);
  width: fit-content;
  font-size: 15px;
  text-shadow: 3px 2px 2px black;
}
