.buttons {
  padding: 10px;
  /* border-radius: 20px; */
  border: 2px white solid;
  background-color: rgb(116, 177, 201);
  width: fit-content;
  font-size: 15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
