.landing-page-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 15%;
}

.first-container {
  display: flex;
  text-align: center;
  vertical-align: center;
  justify-content: space-around;
  flex-direction: row;
  width: 75%;
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.exercise-text {
  width: 50%;
}

.exercise-image-landing {
  width: 350px;
  height: 225px;
  border-radius: 20px;
}
