.landing-page-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 15%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.first-container {
  display: flex;
  text-align: center;
  vertical-align: center;
  justify-content: space-around;
  flex-direction: row;
  width: 75%;
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.exercise-text {
  width: 50%;
}

.exercise-image-landing {
  width: 350px;
  height: 225px;
  border-radius: 20px;
  border: white 1px solid;
  box-shadow: 3px 5px 5px black;
}

.landing-page-title {
  color: rgb(116, 177, 201);
  text-shadow: 5px 2px 2px black;
}

.landing-text {
  text-shadow: 3px 2px 2px black;
}
/* text-shadow: 3px 2px 2px black; */

@media (max-width: 1260px) {
}
