.type-title {
  font-size: 30px;
  color: rgb(116, 177, 201);
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 5px 2px 2px white;
}

.exerciseDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.exerciseCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.exerCardImage {
  width: 300px;
  height: 250px;
  border-radius: 60px;
  border: 1px black solid;
}

.exerCardImage:hover {
  box-shadow: 2px 2px 5px black;
}

.edit-exercise {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  background-color: rgb(116, 177, 201);
  text-align: center;
  vertical-align: center;
}

.name {
  font-size: 20px;
  text-shadow: 5px 2px 2px black;
}
