.common-terms-modal {
  display: flex-inline;
  overflow-y: scroll;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  height: 500px;
  width: 800px;
  background-color: #fceed1;
  /* background-image: #fceed1; */
  border: black 2px solid;
}

.to-know {
  display: flex;
  justify-content: center;
  background-color: transparent;
  /* background-image: linear-gradient(
    to right top,
    #7df3fc,
    #6be4ff,
    #77d2ff,
    #99bdff,
    #bda5f5
  ); */
}

.what-to-know {
  /* background-color: #3e415c; */
  background-color: transparent;
  margin-bottom: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: black;
  /* background-image: linear-gradient(
    to right top,
    #7df3fc,
    #6be4ff,
    #77d2ff,
    #99bdff,
    #bda5f5
  ); */
}
