/* TODO: Add sitewide styles */
* {
  /* margin: 5px; */
  color: white;
  background: #fceed1;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* background: linear-gradient(
    to right top,
    #04464a,
    #0a3641,
    #133b50,
    #152542,
    #281f3d
  ); */
}
