.container-of-log-in {
  border-radius: 20px;
  border: 1px white solid;
  font-family: "Lucida Console", "Courier New", monospace;
}

.log-in-modal-title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(116, 177, 201);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.log-in-modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-family: "Lucida Console", "Courier New", monospace;

  /* border-radius: 20px; */
}

.enter-email-login {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(116, 177, 201);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* border-radius: 20px; */
}

.enter-password {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(116, 177, 201);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* border-radius: 20px; */
}

.log-in-modal-button {
  width: 80px;
  margin-left: 65px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(116, 177, 201);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.demo-user {
  width: 90px;
  margin-left: 60px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(116, 177, 201);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-errors {
  display: flex;
  margin: 0;
  font-weight: normal;
  justify-content: center;
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
}

.input-info {
  /* border-radius: 20px; */
  padding-left: 10px;
  padding: 8px;
}
