* {
  margin: 0px;
}

.profile-button-area {
  background-color: transparent;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  top: 0px;
  height: 50px;
  /* border-bottom: 2px white solid; */
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  box-shadow: 2px 5px 5px 2px rgb(116, 177, 201);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: black;
  text-shadow: 5px 2px 2px white;
}

.home-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: rgb(116, 177, 201);
  background-color: black;
}

.profile-dropdown {
  position: absolute;
  width: 15%;
  top: 61px;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  /* background-color: #3e415c; */
  background-image: linear-gradient(
    to right top,
    #04464a,
    #0a3641,
    #133b50,
    #152542,
    #281f3d
  );
  gap: 10px;
  padding: 0;
  font-size: large;
  border: 2px black solid;
  border-radius: 10px;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  background-color: black;
}

.exercise-page {
  margin: 20px;
  text-decoration: none;
  font-size: 40px;
  color: rgb(116, 177, 201);
}

.post-page {
  text-decoration: none;
  font-size: 40px;
  color: rgb(116, 177, 201);
  margin-top: 19px;
}
/*
.profile-logo {
  color: blue;
} */

.exercise-post-buttons {
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  width: 170px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-right: 10%; */
  border: 1px black solid;
  background-color: rgb(62, 61, 61);
}

.search-bar > input {
  width: 90%;
  background-color: transparent;
  border: none;
}

.right-side-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  text-align: center;
  background-color: black;
}

.search-icon {
  background-color: transparent;
}
/*
::placeholder {
  color: black;
} */

.exercise-page {
  background-color: black;
}

.post-page {
  background-color: black;
}

.common-terms {
  background-color: black;
}

.profile-button {
  background-color: black;
}

.common-calc {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: black;
}

.log-out-button {
  background-color: black;
}

@media (max-width: 1260px) {
  /* … */
  /* .right-side-nav {
    display: flex;
    justify-content: flex-end;
  } */

  .search-bar {
    width: 58px;
    padding-right: 0px;
  }

  .exercise-post-buttons {
    padding-right: 10px;
    gap: 5px;
  }

  .nav-bar {
    width: fit-content;
    height: fit-content;
  }

  .home-button {
    font-size: 30px;
  }
}
