.profile-button {
  height: 40px;
  /* color: green; */
  width: 40px;
  position: relative;
  z-index: 1;
  background-color: black;
  border: none;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-logo {
  width: 30px;
  height: 30px;
  background-color: black;
}
