.profile-button {
  height: 40px;
  /* color: green; */
  width: 40px;
  position: relative;
  z-index: 1;
  background-color: black;
  border: none;
}

.profile-container {
  display: flex;
  justify-content: centerß;
  align-items: center;
  text-align: center;
}

.profile-logo {
  width: 30px;
  height: 30px;
  background-color: black;
}

.log-out-button {
  font-size: 15px;
  align-items: center;
  text-align: center;
  /* height: 20px; */
  border: 1px white solid;
  text-shadow: 2px 2px 1px black;
}

.profile-text {
  text-shadow: 5px 2px 2px black;
  text-decoration: none;
}

.profile-text-exercises {
  text-shadow: 5px 2px 2px black;
  text-decoration: none;
}

.profile-text-exercises:hover {
  cursor: pointer;
  text-shadow: 3px 2px 2px rgb(116, 177, 201);
}

.login-signup {
  text-shadow: 5px 2px 2px black;
}

.profile-dropdown {
  display: flex;
  justify-content: center;
  text-shadow: 5px 2px 2px black;
}
