.exercise-page-create {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px; */
}

.exercise-form {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  border: 1px white solid;
  border-radius: 20px;
  width: 400px;
  /* background-color: rgb(5, 162, 5); */
  padding: 40px;
  gap: 10px;
}

.exercise-title-form {
  color: rgb(116, 177, 201);
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 5px 2px 2px black;
}

.input-area {
  height: 20px;
  border-radius: 20px;
}

.input-area-description {
  height: 20px;
  border-radius: 20px;
  width: 400px;
}

.exercise-errors {
  color: red;
  font-weight: 800;
}

.exer-logo {
  width: 500px;
}

.column-styles {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.exercise-submit {
  width: 80px;
  border-radius: 20px;
}

.form-name {
  color: rgb(116, 177, 201);
  text-shadow: 5px 2px 2px black;
}
